body {
  background-image: url(../img/light.png);
  background-color: beige;
      margin-top: 0px;
}

h1, h2, h3, p {
  color: white;
}

h1, h2, h3 {
  font-family: 'Quattrocento', serif;
}
.nav h1{
    font-size: 50px;
    text-transform: uppercase;
}
li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  background: black;

  font-family: 'Quattrocento', serif;
}
ul{
    padding: 0px;
}
li:hover {
  background: white;
}
img{
  max-width: 100%;
}
li:hover a {
  color:black
}

li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.main-container {
margin:0 auto;
max-width: 900px;
background-color: rgba(0, 0, 0, 0.4);
background: rgba(0, 0, 0, 0.4);
padding: 3rem;
}
 .nav{
text-align: center;
 }

 .act-img {
   width: 30%;
   display: inline-block;
   vertical-align: top;
   margin-right: 2%;
 }

.act-p {
  width: 64%;
  display: inline-block;
  vertical-align: top;
}
.contact {
  text-align: center;
}

.con-img {
  text-align: center;
}

form label {
  color: white;
  padding-bottom: 5px;
}
form input, textarea {
  width: 100%;
  margin: 10px 0px;
}
@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
figure {
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery {
  width: 100%; overflow: hidden;
}
figure.slider {
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite;
}
figure.slider figure {
  width: 20%; height: auto;
  display: inline-block;  position: inherit;
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption {
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem;
}
